#1. Numbers

In [ ]:
#python Numbers
a = 5
print(type(a))
a = 30.25
print(type(a))
a = 10 + 2j
print(type(a))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
#typecasting
print(int(-2.0))
print(float(5))

-2
5.0

In [ ]:
print(chr(65))
print(chr(97))

A
a

In [ ]:
import math

In [ ]:
print(math.sqrt(2))
print(math.floor(-10.7))
print(math.ceil(-10.7))
print(math.pow(10,7))
print(math.pi)
print(round(math.pi,2))
print(math.factorial(5))

1.4142135623730951
-11
-10
10000000.0
3.141592653589793
3.14
120

In [ ]:
import random as rn
rn.seed(20)
print(rn.random())
print(rn.randrange(50,100))
print(rn.uniform(50.5,100))
x = [1,2,3,4,5,6]
print(rn.choice(x))

0.9056396761745207
93
89.44062367411112
2

#2. Strings
- Immutable - couldn't modify

In [ ]:
String = 'Hello World'
print(String)

Str2 = """This 
is string 2
in python"""
print(Str2)

Str3 = "This is string 3.\n Hello World "
print(Str3)

Hello World
This
is string 2
in python
This is string 3.
 Hello World

In [ ]:
Str2 = "Python is a programming language"
print(Str2[0])
print(Str2[-2])
#inclusive:exclusive
print(Str2[2:4])
print(Str2[:4])
print(Str2[4:])
print(len(Str2))

P
g
th
Pyth
on is a programming language
32

In [ ]:
#strings are immutable
Str2[0]="B"

TypeError: ignored

In [ ]:
Str1 = 'Sagar'
Str1.replace('a','p')

'Spgpr'

#3. Lists
- Denoted using square brackets
- Allows mixed data types
- Tepetatitve elements, allows duplicate values
- Preserves the order
- Lists are mutable

In [ ]:
list1 = [1,3,4,5,6]
print(list1[2])
list2 = [1,3,'Python',5,6]
print(type(list2))

4
<class 'list'>

In [ ]:
#Use of slicing Operator
print(list1[4])

6

In [ ]:
print(list1[1:3])
print(list1[2:])

[3, 4]
[4, 5, 6]

In [ ]:
x = list(range(1,101,2))
print(x)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [ ]:
#Nested lists
b = ['spam',2,3,5.6,[10,6,'sagar']]
print(b[4])
print(b[4][2][2:5])

[10, 6, 'sagar']
gar

In [ ]:
#lists are mutable
b[4][1] = 's'
print(b)

['spam', 2, 3, 5.6, [10, 's', 'sagar']]

In [ ]:
# Appending elements in a list
list1 = [1,3,4,5,6]
list2 = [1,3,4,5,6,67,8,9,0,10,11,12,13,14,15]
list1.append(list2)

In [ ]:
list1

[1, 3, 4, 5, 6, [1, 3, 4, 5, 6, 67, 8, 9, 0, 10, 11, 12, 13, 14, 15]]

In [ ]:
list2.append('Sagar')
list2

[1, 3, 4, 5, 6, 67, 8, 9, 0, 10, 11, 12, 13, 14, 15, 'Sagar', 'Sagar']

In [ ]:
# Extending elements in a list
list3 = [1,2,3,4,5,6]
list4 = [3,4,5,6,7,8,9]
list3.extend(list4)
print(list3)

[1, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#inserting 
list3.insert(2,4.5)
print(list3)

[1, 2, 4.5, 3, 4, 5, 6, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list3.insert(2,list2)
print(list3)

[1, 2, [1, 3, 4, 5, 6, 67, 8, 9, 0, 10, 11, 12, 13, 14, 15, 'Sagar', 'Sagar'], [1, 3, 4, 5, 6, 67, 8, 9, 0, 10, 11, 12, 13, 14, 15, 'Sagar', 'Sagar'], 4.5, 3, 4, 5, 6, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Removing an element
list2.remove('Sagar')
print(list2)

[1, 3, 4, 5, 6, 67, 8, 9, 0, 10, 11, 12, 13, 14, 15]

In [ ]:
#Deleting an index
del list2[2]
print(list2)

[1, 3, 8, 9, 0, 10, 11, 12, 13, 14, 15]

In [ ]:
list1 = [1,2,3,4,5]
list2 = []
for l in list1:
  num = l * 5
  list2.append(num)

print(list2)

[5, 10, 15, 20, 25]

#Tuples
- () parantheses
- Mixed Data types
- repetatitve elements
- perserves order
- immutable

In [ ]:
tuple = (5,2,'agar',2+3j)
print(type(tuple))
print(tuple[1])

<class 'tuple'>
2

In [ ]:
n_tuple = (2,3,[2,3,4],(22,32,42),4,5)
print(n_tuple)
print(n_tuple[2][1])
n_tuple[2][1]=0

(2, 3, [2, 3, 4], (22, 32, 42), 4, 5)
3

In [ ]:
print(n_tuple[2][1])

0

In [ ]:
del n_tuple

#Sets
- {} parantheses
- allows only unique elements
- mixed data types allowed
- **doesn't preserves order**
- hence also doesn't support  indexing
- accessing part is not allowed

In [ ]:
set1 = {1,2,3,'sagar',3,4,5}
set1

{1, 2, 3, 4, 5, 'sagar'}

In [ ]:
set2 = {1,2,3,(12,3,34),23,34,65}
set2

{(12, 3, 34), 1, 2, 23, 3, 34, 65}

In [ ]:
#indexing is not allowed in Sets
set1[0]

TypeError: ignored

In [ ]:
#adding elements
set1 = {23,34}
set1.add(35)
print(set1)

{34, 35, 23}

In [ ]:
set1.update([1,2,3,4,5])
print(set1)

{1, 2, 34, 35, 3, 4, 5, 23}

In [ ]:
#deleting elements
set1.remove(4)
print(set1)

{1, 2, 34, 35, 5, 23}

In [ ]:
set1.intersection(set2)

{1, 2, 23, 34}

In [ ]:
set1.intersection_update(set2)

In [ ]:
set1.add(100)
set1

{1, 2, 23, 34, 100}

In [ ]:
# Remove multiple elements in sets
a =[1,34]
for i in a:
  set1.remove(i)

print(set1)

{100, 23}

In [ ]:
print(set1)
print(set2)
print(set1 | set2)
print()
print(set1.difference(set2))
print(set2.difference(set1))

{100, 23}
{1, 2, 3, 34, 65, (12, 3, 34), 23}
{1, 2, 3, 100, 34, 65, (12, 3, 34), 23}

{100}
{65, 1, 2, 3, 34, (12, 3, 34)}

# Dictionaries
 - {key:value,key:value}
 - mixed datatype elements
 - does not support indexing
 - accessing is done using keys
 - preserves the order
 - keys should be unique
 - values could be repetitive
 - mutable

In [ ]:
dic1 = {'1':'A','2':'B'}
dic1

{'1': 'A', '2': 'B'}

In [ ]:
import pandas as pd
dic2 = {'Name':['A','B','C'],'Index':[1,2,3],'marks':[10,20,30]}
dic2
#dic2['Index']=4
df = pd.DataFrame(dic2)
df

  Name  Index  marks
0    A      1     10
1    B      2     20
2    C      3     30

In [ ]:
dic3 = {'Name':['S','H','D'],'Age':[20,30,40]}
#dic3['Age'] = 50
#dic3
dic3['Adresss'] = ['A','B','C']

In [ ]:
dic3

{'Adresss': ['A', 'B', 'C'], 'Age': [20, 30, 40], 'Name': ['S', 'H', 'D']}

In [ ]:
if dic2['Name'] == dic3['Name']:
  print(True)
else:
  print(False)

False

In [ ]:
dic2.values()

dict_values([['A', 'B', 'C'], [1, 2, 3], [10, 20, 30]])

In [ ]:
dic2.keys()

dict_keys(['Name', 'Index', 'marks'])

In [ ]:
a = [1,2,3,4,5,6,7,8]
b = (6,7,8,9,10,11)
c = list(zip(a,b))
print(c)

[(1, 6), (2, 7), (3, 8), (4, 9), (5, 10), (6, 11)]

In [ ]:
a = [1,2,3,4]
b= (5,6,7,8)
c = dict(zip(a,b))
print(c)

{1: 5, 2: 6, 3: 7, 4: 8}